<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>My Favourite Links: </h1>


            <%  @fav_links.each do |fav| %>
          <li>  <a href = "<%= fav %> "> <%= fav %>   </a> </li>
            <%  end -%>






  </body>
</html>
