<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1> This is my Private gallery....!!!</h1>
      <% 25.times do |i| %>
      <img src="http://unsplash.it/200/300?random=<%=i%>">
      <% end %>

  </body>
</html>
