<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Its MD MAMUNUR RASHID'S Page. Thanks for wathching ...</h1>

    <h2>SKILLS: </h2>
<ul>
  <% @skills.each do |skill| %>
  <li> <%= skill %> </li>
  <% end  %>

</ul>
    <h2>INTERESTS: </h2>
  <% @interests.each do |interest| %>
  <li> <%= interest %> </li>
  <% end  %>
<ul>

  </body>
</html>
